.slot {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.index {
    font-size: 11px;
    color: gray;
}

.selectFile > input {
    display: none;
}
