.slot {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slot:hover {
    background-color: var(--oc-indigo-1);
}

.index {
    font-size: var(--font-s);
    color: var(--oc-gray-6);
}

.selectFile > input {
    display: none;
}
