.spinner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.67;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner::after {
    content: '';
    display: block;
    width: 96px;
    height: 96px;

    border: 8px solid lightseagreen;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;

    animation: 1.5s linear infinite spin;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.header h1, .header h2 {
    font-weight: 300;
    margin: 0;
}

.header h1 {
    font-size: 64px;
    letter-spacing: -4px;
}

.header h2 {
    font-size: 36px;
    letter-spacing: -2px;
}

.app {
    width: fit-content;
}

.button {
    margin-top: 16px;
    width: 96px;
}
