.box {
    background-color: var(--oc-indigo-0);
    border: 1px solid var(--oc-indigo-3);
    border-radius: var(--unit);
    user-select: none;
    padding: calc(2 * var(--unit));
    /* TODO: not necessarily fitting here */
    font-size: var(--font-m);
}
